$icon-font-path: "/fonts/bootstrap/";

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

img {
  float: right;
}

@media(max-width:600px){
  img {
    float: none;
    display: block !important;
    margin: 0 auto;
  }
}